header{
    background-color: #4e658a;
    color: rgb(244, 245, 247);
}
img{
    width: 450px;
}
.escola-div-conteudo{
    width: 35%;
}
body{
    font-family: 'Poppins', sans-serif;
}

.escola-texto-um{
    color:aqua;
}